@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --color-dark: #181818;
  --color-dark-grey: #212121;
  --color-white: #ffffff;
  --color-light-gray: #383838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  border: none;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

html,
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: var(--color-dark);
  color: var(--color-white);
}

.avatar-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 56px 56px 1fr;
  grid-template-areas:
    "header-menu header-menu"
    "aside-menu tags"
    "aside-menu content-video";
}

.header-menu {
  background-color: var(--color-dark-grey);
  grid-area: header-menu;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu img {
  cursor: pointer;
}

.logo-content {
  width: 210px;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.logo {
  width: 88px;
}

.br {
  font-size: 0.45em;
  color: #aaaaaa;
  font-weight: normal;
  vertical-align: text-top;
}

.search-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-content span {
  display: flex;
  position: relative;
}

.search-content span input {
  background-color: var(--color-dark);
  font-size: 1em;
  border: 1px solid var(--color-light-gray);
  padding: 5px;
  width: 550px;
}

.search-content span input:focus {
  border-color: #175ebb;
}

.search-content span img {
  position: absolute;
  top: 4px;
  right: 10px;
  opacity: 0.6;
}

.btn-search {
  background-color: var(--color-light-gray);
  padding: 5px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 3px 3px 0;
}

.btn-search img {
  opacity: 0.3;
}

.search-content > img {
  margin-left: 12px;
  height: 25px;
}

.content-profile {
  width: 230px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.tags {
  background-color: var(--color-dark-grey);
  grid-area: tags;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 30px;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
}

.tags img {
  margin-left: 15px;
}

.tags button {
  padding: 7px 13px;
  border-radius: 30px;
  color: var(--color-white);
  background-color: var(--color-light-gray);
  border: 1px solid #555555;
  font-weight: normal;
  cursor: pointer;
  font-size: 0.9em;
}

.tags button:first-child {
  background-color: var(--color-white);
  color: #555555;
}

.tags button:hover {
  background-color: #444444;
}

.aside-menu {
  background-color: var(--color-dark-grey);
  grid-area: aside-menu;
  padding-top: 15px;
  overflow-y: auto;
  max-height: 92vh;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #a5a4a46b;
  border-radius: 20px;
}

.line-bottom {
  border-top: 1px solid #5f5f5f;
  width: 95%;
  display: block;
  margin: 13px 0;
}

.avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.aside-menu button {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px 22px;
  color: var(--color-white);
  font-size: 0.9em;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.aside-menu button:first-child {
  background-color: #363636 !important;
}

.aside-menu button:first-child:hover {
  background-color: #4d4d4d !important;
}

.aside-menu button:hover {
  background-color: var(--color-light-gray);
}

.aside-menu h4 {
  color: #979797;
  font-size: 0.95em;
  margin-left: 25px;
}

.content-video {
  background-color: var(--color-dark);
  grid-area: content-video;
}
